!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Socks - Find Your Pair"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Socks", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/favicon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app
  %body
    %nav.navbar
      .container
        = link_to "🧦 Socks App", root_path, class: "navbar-brand"
        .navbar-links
          = link_to "🏠 Home", root_path
          = link_to "🧦 All Socks", socks_path
          - if user_signed_in?
            = link_to "➕ New Sock", new_sock_path
            .user-menu
              %span= current_user.email
              = form_with url: destroy_user_session_path, method: :delete, local: true do |f|
                = f.submit "Sign out"
          - else
            = link_to "🔐 Sign up", new_user_registration_path, class: "btn btn-sm btn-primary"
            = link_to "🔑 Log in", new_user_session_path, class: "btn btn-sm btn-outline-primary"
    .container
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      = yield
